<% if @game %>
  <h1><%= @game.title %></h1>
  <%= form_with(local: true, url: play_play_path) do |form| %>
    <% if @game.active_card_id %>
      <div class="field">
        <% if @player.name %>
          <h2><%= @player.name %></h2>
        <% else %>
          <%= form.label :name %>
          <%= form.text_field :name %>
        <% end %>
        <%= hidden_field_tag(:game_id, @game.id) %>
        <%= hidden_field_tag(:player_id, @player.id) %>
      </div>

      <div class="actions">
        <%= form.submit 'Join Game' %>
      </div>
    <% end %>
  <% end %>
<% end %>

<p id="notice" class="alert-warning"><%= notice %></p>
