<p id="notice" class="alert-warning"><%= notice %></p>
<h1><%= @game.title %> | <%= @player.name %> | <%= session.id %> </h1>

<% @game.cards.each do |c| %>
  <div>
    <h2><%= c.title %></h2>
    <% if @game_player_card %>
      <%= form_with(local: true, url: play_entries_path(@game_player_card.id)) do |form| %>
        <% c.fields.each_with_index do |f, i| %>
          <div class="field">
            <%= form.label f %>
            <%= form.text_field "slot_#{i + 1}", value: @game_player_card.send("slot_#{i + 1}".to_sym) %>
          </div>
        <% end %>
        <div class="actions">
          <%= form.submit 'Submit Answers' %>
        </div>
      <% end %>
    <% else %>
      <h2>Pick a card</h2>
    <% end %>
    <%= hidden_field_tag(:game_id, @game.id) %>
    <%= hidden_field_tag(:player_id, @player.id) %>
  </div>
<% end %>
