<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Locator:</strong>
  <%= @game.locator %>
</p>

<p>
  <strong>Cards:</strong>
  <ul>
    <% @game.cards.each do |c| %>
       <li><%= c.title %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
