<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Locator:</strong>
  <%= @game.locator %>
</p>

<p>
  <strong>Cards:</strong>
  <ul>
    <% @game.cards.each do |c| %>
       <li><%= link_to c.title, c %></li>
    <% end %>
  </ul>
</p>

<p>
  <h3>Players</h3>
  <% @game.game_players.each do |game| %>
    <tr>
      <td><%= link_to player.name, player %></td>
    </tr>
  <% end %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
