<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Locator:</strong>
  <%= @game.locator %>
</p>

<p>
  <strong>Cards:</strong>
  <ul class="list-group">
    <% @game.cards.each do |c| %>
       <li class="list-group-item"><%= link_to c.title, c %></li>
    <% end %>
  </ul>
</p>

<p>
  <h3>Players</h3>
  <% @game.game_players.each do |player| %>
    <ul class="list-group">
      <li class="list-group-item"><%= link_to player.name, '' %></li>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
