<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @card.notes %>
</p>

<ol>
  <% @card.fields.each do |f| %>
    <li><%= f %></li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
